
body { font-family: 'Oswald', sans-serif; font-weight: 700; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;    
  background: #ecf0f1;
}
.brandtex { font-weight: bold; }
.contact img { width: 3em; margin: 2px;}
.contact {  text-align: center; width: 100%; 
overflow: hidden; background: #e74c3c; border-bottom: 2px solid #282830;
padding-top: 3px;
}
.showcasetechp { text-align: center; }
.cont { border: 1px solid black; border-bottom: 1px solid #282830; border-radius: 20%; padding: 6px;}
footer ul {margin-top: 8px;}
.footer ul li { display: inline-block; position: relative;  }
.footer { width: 100%; clear: both; text-align: center; border-top: 2px solid #282830;
          background: #ECECEC; overflow: hidden;
}
.header { width: 100%; height: 6%; text-align: center; overflow: hidden; 
          color: #ecf0f1; font-family: 'Indie Flower', cursive; font-size: 2em;
          border-bottom: 2px solid #282830;
          background: -webkit-linear-gradient(90deg, #e74c3c, #E01931); /* For Safari 5.1 to 6.0 */
          background: -o-linear-gradient(90deg, #e74c3c, #E01931); /* For Opera 11.1 to 12.0 */
          background: -moz-linear-gradient(90deg, #e74c3c, #E01931); /* For Firefox 3.6 to 15 */
          background: linear-gradientgradient(90deg, #e74c3c, #E01931); /* Standard syntax */
}
.navigator { position: absolute; top: 1%; width: 100%; text-align: right; font-size: 1em;}
.githublink { position: absolute; left: 3%; top: 3%; }
.githublink img { width: 3em; }
.navigator ul { list-style: none; }
.navigator img { width: 2em }
a:link { text-decoration: none; color: #FCB941;}
a:hover { text-decoration: none; color: #D4D4D4; }
a:visited { color: #FCB941; text-decoration: none; }
a:active { color: #FCB941; text-decoration: none; text-decoration: none;}
.portfolio { width: 80%;  margin: 2% auto; }
.showcase { width: 33%;   position: relative; float: left; padding: 20px; text-align: center;}
svg { width: 2em; height: 2em; }
.showcase img { box-sizing: border-box; width: 100%; height: 100%;}

@media screen and (max-width: 900px) {
  .showcase {
        width: 50%;
    }
    svg { 
      width: 1.5em;
      height: 1.5em; 
    }
    
}

@media screen and (max-width: 800px) {
  .showcase {
        width: 100%;
    }
    svg { 
      width: 1em;
      height: 1em; 
    }
}